<div class="container_main">
  <% provide(:title, "Team") %>

  <div class="row new_ride_background main_div" id="main_img" style="background: url('<%= asset_path "MainCampusOrigin.png"%>')  no-repeat center center fixed">
    <div class="ride_new_page_background">
      <div class="row">
        <div class="col-xs-1 col-md-3">
        </div>
        <div class="col-xs-10 col-md-6 ride_new_form" >
          <div class="panel panel-primary" style="width: 100%; border: none;">
            <div class="panel-heading ride_new_heading" style="background: black; border-color: black;">
              <h3 class="panel-title" style="color: #f2f2f2;"><%= t("static.team") %></h3>
            </div>
            <div class="panel-body panel_body_background">
              <div class="row" style="border-bottom: 1px solid black; padding-bottom: 14px;">
                <div class="col-xs-3 col-md-3">
                  <img src="<%= asset_path "MichaelPhoto@2x.jpg" %>" class="img-responsive">
                </div>
                <div class="col-xs-9 col-md-9">
                  <h4 style="color: #005c91; margin-top: -3px; margin-bottom: 0px;">Michael Schermann</h4>
                  <b>Creative Director</b>
                  <p style="line-height: 1em; font-size: 0.9em;" align="justify">When in danger, when in doubt, run in circles, scream, and shout</p>
                  <p style="line-height: 1em; font-size: 0.9em;" align="justify">TUMitfahrer is an awesome project because the teams grew together on an innovative project. TUMitfahrer enabled the students to pursue their ideas while fulfilling their study requirements.</p>
                </div>
              </div>
              <div class="row" style="border-bottom: 1px solid black; padding-bottom: 14px; padding-top: 14px;">
                <div class="col-xs-3 col-md-3">
                  <img src="<%= asset_path "PawelPhoto@2x.jpg" %>" class="img-responsive">
                </div>
                <div class="col-xs-9 col-md-9">
                  <h4 style="color: #005c91; margin-top: -3px; margin-bottom: 0px;">Pawel Kwiecien</h4>
                  <b>iOS and backend developer</b>
                  <p style="line-height: 1em; font-size: 0.9em;" align="justify">Life begins at the end of your comfort zone</p>
                  <p style="line-height: 1em; font-size: 0.9em;" align="justify">TUMitfahrer was for me the final project for my Master Thesis. I developed complete iOS application and backend using Ruby on Rails. My research included innovative product development processes.</p>
                </div>
              </div>
              <div class="row" style="border-bottom: 1px solid black; padding-bottom: 14px; padding-top: 14px;">
                <div class="col-xs-3 col-md-3">
                  <img src="<%= asset_path "LukasPhoto@2x.jpg" %>" class="img-responsive">
                </div>
                <div class="col-xs-9 col-md-9">
                  <h4 style="color: #005c91; margin-top: -3px; margin-bottom: 0px;">Lukasz Kwiatkowski</h4>
                  <b>UI/UX Designer, Photography, Marketing</b>
                  <p style="line-height: 1em; font-size: 0.9em;" align="justify">Creativity is doing something out of nothing</p>
                  <p style="line-height: 1em; font-size: 0.9em;" align="justify">I took this project as my IDP. Personally i enjoyed that project because i could use my slightly artistic background in real application, to design something which students could enjoy.</p>
                </div>
              </div>
              <div class="row" style="border-bottom: 1px solid black; padding-bottom: 14px; padding-top: 14px;">
                <div class="col-xs-3 col-md-3">
                  <img src="<%= asset_path "ShahidPhoto@2x.jpg" %>" class="img-responsive">
                </div>
                <div class="col-xs-9 col-md-9">
                  <h4 style="color: #005c91; margin-top: -3px; margin-bottom: 0px;">Muhammad Shahid Aslam</h4>
                  <b>Backend and Web application Developer</b>
                  <p style="line-height: 1em; font-size: 0.9em;" align="justify">Failure is not an option, it comes bundled with the software</p>
                  <p style="line-height: 1em; font-size: 0.9em;" align="justify">I took this project as IDP. I learned new things like how to use websockets for chat and how to develop responsive web application.</p>
                </div>
              </div>
              <div class="row" style="border-bottom: 1px solid black; padding-bottom: 14px; padding-top: 14px;">
                <div class="col-xs-3 col-md-3">
                  <img src="<%= asset_path "AnuradaPhoto@2x.jpg" %>" class="img-responsive">
                </div>
                <div class="col-xs-9 col-md-9">
                  <h4 style="color: #005c91; margin-top: -3px; margin-bottom: 0px;">Anuradha</h4>
                  <b>Web application developer</b>
                  <p style="line-height: 1em; font-size: 0.9em;" align="justify">Ruby is better than diamond</p>
                  <p style="line-height: 1em; font-size: 0.9em;" align="justify">I took this project as my IDP and it is an awesome experience and opportunity to learn new language like Ruby on Rails.</p>
                </div>
              </div>
              <div class="row" style="border-bottom: 1px solid black; padding-bottom: 14px; padding-top: 14px;">
                <div class="col-xs-3 col-md-3">
                  <img src="<%= asset_path "BehrozPhoto@2x.jpg" %>" class="img-responsive">
                </div>
                <div class="col-xs-9 col-md-9">
                  <h4 style="color: #005c91; margin-top: -3px; margin-bottom: 0px;">Behroz Sikander</h4>
                  <b>Backend / VisioM developer</b>
                  <p style="line-height: 1em; font-size: 0.9em;" align="justify">After this project, I like Ruby more than Natalie Portman.</p>
                  <p style="line-height: 1em; font-size: 0.9em;" align="justify">TUMitfahrer was an awesome project that gave me the chance to work on multiple platforms. I learnt ROR, Android, iPhone, Java and C++ in a single project.</p>
                </div>
              </div>
              <div class="row" style="border-bottom: 1px solid black; padding-bottom: 14px; padding-top: 14px;">
                <div class="col-xs-3 col-md-3">
                  <img src="<%= asset_path "SaqibPhoto@2x.jpg" %>" class="img-responsive">
                </div>
                <div class="col-xs-9 col-md-9">
                  <h4 style="color: #005c91; margin-top: -3px; margin-bottom: 0px;">Hafiz Saqib Javed</h4>
                  <b>Notification Engine/Pebble smartwatch developer</b>
                  <p style="line-height: 1em; font-size: 0.9em;" align="justify">Whaa! you didn’t get notification??? Probably thunder in the cloud.</p>
                  <p style="line-height: 1em; font-size: 0.9em;" align="justify">Getting an opportunity to work on a real time project with collaborative environment and multiple technologies, couldn’t get anything better. I took it as an IDP and really enjoyed working on Pebble and RoR.</p>
                </div>
              </div>
              <div class="row" style="border-bottom: 1px solid black; padding-bottom: 14px; padding-top: 14px;">
                <div class="col-xs-3 col-md-3">
                  <img src="<%= asset_path "AmrPhoto@2x.jpg" %>" class="img-responsive">
                </div>
                <div class="col-xs-9 col-md-9">
                  <h4 style="color: #005c91; margin-top: -3px; margin-bottom: 0px;">Amr Arafat</h4>
                  <b>Android Developer</b>
                  <p style="line-height: 1em; font-size: 0.9em;" align="justify">It’s not a Bug, It’s a feature *evil smile*</p>
                  <p style="line-height: 1em; font-size: 0.9em;" align="justify">TUMitfahrer is an exciting project.  I learned a lot of stuff and had a lot of fun. I was on the Android team and I really enjoyed working on the project.</p>
                </div>
              </div>
              <div class="row" style="border-bottom: 1px solid black; padding-bottom: 14px; padding-top: 14px;">
                <div class="col-xs-3 col-md-3">
                  <img src="<%= asset_path "AbiPhoto@2x.jpg" %>" class="img-responsive">
                </div>
                <div class="col-xs-9 col-md-9">
                  <h4 style="color: #005c91; margin-top: -3px; margin-bottom: 0px;">Abhijith Srivatsav</h4>
                  <b>Android developer</b>
                  <p style="line-height: 1em; font-size: 0.9em;" align="justify">There is no spoon</p>
                  <p style="line-height: 1em; font-size: 0.9em;" align="justify">TUMitfahrer is my IDP, for which I’m responsible for the Android application. I’m the resident Android evangelist and the go-to guy for everything Android. I particularly like this project as it affords me the opportunity to exercise my skills and experiment with application building techniques.</p>
                </div>
              </div>
              <div class="row" style="border-bottom: 1px solid black; padding-bottom: 14px; padding-top: 14px;">
                <div class="col-xs-3 col-md-3">
                  <img src="<%= asset_path "DansenPhoto@2x.jpg" %>" class="img-responsive">
                </div>
                <div class="col-xs-9 col-md-9">
                  <h4 style="color: #005c91; margin-top: -3px; margin-bottom: 0px;">Dansen Zhou</h4>
                  <b> iOS, Android, Web application tester</b>
                  <p style="line-height: 1em; font-size: 0.9em;" align="justify">Test is a procedure of making everything ruined and starting beauty </p>
                  <p style="line-height: 1em; font-size: 0.9em;" align="justify">I took this project as my IDP. In this awesome project, I take charge of all the tests including unit test, ui automatic test, integration test, etc. It is both excited and painful to join all the different platforms with different environments, different programme languages.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-1 col-md-3"></div>
      </div>
    </div>
  </div>
</div>
