<div class="container_main">
  <% provide(:title, "Terms and Conditions") %>

  <div class="row new_ride_background main_div" id="main_img" style="background: url('<%= asset_path "1.jpg"%>')  no-repeat center center fixed">
    <div class="ride_new_page_background">
      <div class="row">
        <div class="col-xs-1 col-md-3">
        </div>
        <div class="col-xs-10 col-md-6 ride_new_form" >
          <div class="panel panel-primary" style="width: 100%; border: none;">
            <div class="panel-heading ride_new_heading" style="background: black; border-color: black;">
              <h3 class="panel-title" style="color: #f2f2f2;"><%= t("static.terms") %></h3>
            </div>
            <div class="panel-body panel_body_background">
              <div class="row">
                <div class="col-xs-12 col-md-12">
                  <b><%= t("static.terms_scope") %></b>
                  <p align="justify" class="privacy_p"><%= t("static.terms_scope_1") %></p>
                  <p align="justify" class="privacy_p"><%= t("static.terms_scope_2") %></p>
                  <p align="justify" class="privacy_p"><%= t("static.terms_scope_3") %></p>
                  <p align="justify" class="privacy_p"><%= t("static.terms_scope_4") %></p>
                  <p align="justify" class="privacy_p"><%= t("static.terms_scope_5") %></p>
                  <b><%= t("static.terms_content") %></b>
                  <p align="justify" class="privacy_p"><%= t("static.terms_content_1") %></p>
                  <p align="justify" class="privacy_p"><%= t("static.terms_content_2") %></p>
                  <p align="justify" class="privacy_p"><%= t("static.terms_content_3") %></p>
                  <b><%= t("static.terms_obligations") %></b>
                  <p align="justify" class="privacy_p"><%= t("static.terms_obligations_1") %></p>
                  <p align="justify" class="privacy_p"><%= t("static.terms_obligations_2") %></p>
                  <p align="justify" class="privacy_p"><%= t("static.terms_obligations_3") %></p>
                  <p align="justify" class="privacy_p"><%= t("static.terms_obligations_4") %></p>
                  <p align="justify" class="privacy_p"><%= t("static.terms_obligations_5") %></p>
                  <p align="justify" class="privacy_p"><%= t("static.terms_obligations_6") %></p>
                  <b><%= t("static.terms_collection") %></b>
                  <p align="justify" class="privacy_p"><%= t("static.terms_collection_1") %></p>
                  <b><%= t("static.terms_rating") %></b>
                  <p align="justify" class="privacy_p"><%= t("static.terms_rating_1") %></p>
                  <b><%= t("static.terms_right") %></b>
                  <p align="justify" class="privacy_p"><%= t("static.terms_right_1") %></p>
                  <p align="justify" class="privacy_p"><%= t("static.terms_right_2") %></p>
                  <b><%= t("static.terms_termination") %></b>
                  <p align="justify" class="privacy_p"><%= t("static.terms_termination_1") %></p>
                  <b><%= t("static.terms_liability") %></b>
                  <p align="justify" class="privacy_p"><%= t("static.terms_liability_1") %></p>
                  <p align="justify" class="privacy_p"><%= t("static.terms_liability_2") %></p>
                  <p align="justify" class="privacy_p"><%= t("static.terms_liability_3") %></p>
                  <b><%= t("static.terms_jurisdiction") %></b>
                  <p align="justify" class="privacy_p"><%= t("static.terms_jurisdiction_1") %></p>
                  <b><%= t("static.terms_change") %></b>
                  <p align="justify" class="privacy_p"><%= t("static.terms_change_1") %></p>

              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-1 col-md-3"></div>
      </div>
    </div>
  </div>
</div>
</div>
