<div class="container_main">
  <% provide(:title, "Password reset page") %>

  <div class="row" class="new_ride_background" id="main_img" style="margin-right: 0px; ">

    <div class="ride_new_page_background">
      <div class="row">
        <div class="col-xs-1 col-md-3">
        </div>
        <div class="col-xs-9 col-md-6" >
          <div class="panel panel-primary" style="width: 70%; border: none;margin-top: 100px;margin-left:100px;background-color: #2B2B2B;">
            <div class="panel-heading" style="background: #2B2B2B;border-color: #2B2B2B">
              <p> <img src='<%= asset_path "logo.png"%>' style="height: 20px;float:left;background-color: #2B2B2B;"> &nbsp; &nbsp;</p>

            </div>
            <div class="panel-body" class="form-horizontal"style="background-color:#2B2B2B ;">
              <div class="form-group">
                <%= form_tag password_resets_path, :method => :post do %>
                    <div class="field">
                      <%= label_tag :email %>
                      <%= text_field_tag :email, params[:email] %>
                    </div>
                    <div class="actions"><%= submit_tag "Reset Password" %></div>
                <% end %>
              </div>
              <br>
              <p style="color: white"> &nbsp;Email with the new password will be sent to your TUM mailbox</p>

              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-1 col-md-3"></div>
      </div>
    </div>
  </div>
</div>
<style>
    .form-control
    {
        background-color: #909090;
        border-color : #909090;

    }
    .control-label
    {
        color: white;
    }
</style>