<%= javascript_include_tag "jquery.bootpag.min.js" %>

<div class="container_ride">
<% provide(:title, "My rides") %>
<div class="row"  id="main_img" style="padding-left:70px;margin-top: 47px; background: url('<%= asset_path "1.jpg"%>')">

<div class="col-xs-12 col-md-12 " style="width:96%;margin-left:2px;margin-top:25px;">
<div id="Created" class="col-md-4" style=" background: #53A2d0;text-color : #fffff;text-align : center">
  <p><img src="<%= asset_path "my_rides.png" %>" style="height: 20px;margin-right: 0px; margin-top: 0px;">
    <a href="#" id="created"style="color: white;"><%= t("static.created") %></a>
  </p>
</div>
<div id="Joined" class="col-md-4" style="background: #53A2d0;text-color : #fffff;text-align : center">
  <p><img src="<%= asset_path "my_rides.png" %>" style="height: 20px;margin-right: 0px; margin-top: 0px;">
    <a href="#" id="joined"style="color: white;"><%= t("static.joined") %></a>
  </p>
</div>
<div id="Past" class="col-md-4" style="background: #53A2d0;text-color : #fffff;text-align : center">
  <p><img src="<%= asset_path "my_rides.png" %>" style="height: 20px;margin-right: 0px; margin-top: 0px;">
    <a href="#" id="past"style="color: white;"><%= t("static.past") %></a>
  </p>
</div>

<div id="Created_div" class="well col-md-12" style="margin-right: 0px; margin-top: 0px;border:none;border-radius:0px;">

  <div class="col-md-12" style="background: #53A2d0; width: 100%; min-width: 100px; color: #beddf1; text-align: left;">
    <img src="<%= asset_path "driver_icon.png" %>" style="height: 36px; margin-top:5px; float:left; background-color: #53A2d0; padding: 8px">
    <h4 style="margin-top:15px;"><%= t("static.offers") %></h4>
  </div>
  <% if @myridescreated_offers.count ==  0 %>
      <div class="col-md-12">
        <p> Currently no rides Available </p>
      </div>

  <% elsif @myridescreated_offers.count > 0 %>

  <% @myridescreated_offers.each_with_index do |ride1, index| %>

      <div class="row" style="padding-bottom: -8px;padding-top: 8px;">
        <div class="col-md-1">
          <% if ride1.ride_type == 0%>
              <img src="<%= asset_path "MainCampus@2x.png" %>" style="height: 46px; width:77px; margin-top:15px; float: left">
          <% else %>
              <img class="img-responsive" id="destination_image" src='<%= @pic_url[index] %>' style="height: 46px; width:74px; margin-top:15px; float: left">
          <% end %>

        </div>

        <div class="col-md-6">
          <h4 style="margin-top:12px;color: #0076b3"> &nbsp;<%= ride1.departure_place %>
            <img src="<%= asset_path "arrow_left.png" %>" style="height: 14px;">  <%= ride1.destination %></h4>
          <p style="margin-top: -2px;"> &nbsp;
            <img src="<%= asset_path "CalendarIconBlack@2x.png" %>" style="height: 14px;"> &nbsp; <%= ride1.departure_time.strftime("%d-%m-%Y") %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="<%= asset_path "TimeIconBlack.pnhrg" %>" style="height: 14px;"> &nbsp; <%= ride1.departure_time.strftime("%I:%M %P") %> &nbsp;

          </p>
        </div>

        <div class="col-md-5">
            <% if ride1.requests.size > 0 %>
          <div class="col-md-1"style="width:10%;margin-right:35px;margin-left:130px;">
            <img src="<%= asset_path "passenger_icon.png" %>" style="height: 46px; margin-top:15px;  background-color: #48a748; padding: 8px">
          </div>


          <div class="col-md-1"style="width: 10%;padding-left:5px;padding-right:35px;">
            <img src="<%= asset_path "cancel_icon.png" %>" style="height: 46px; margin-top:15px;  background-color: #b43030; padding: 8px">
          </div>
            <% end %>

          <div class="col-md-3" style="padding-bottom:30px;margin-right:-350px;">
            <%= link_to "/rides/#{ride1.id}", {method: :get, class: "btn", style: "border-radius: 0px;float: right; margin-top: 15px; height: 52px; padding: 15px;margin-right: -350px;background-color:#53A2d0;color: #beddf1; "} do %>
                View Ride <span class="glyphicon glyphicon-chevron-right"></span>
            <% end %>
          </div>

        </div>
      </div>

          <hr size="2" style="margin-top:5px;height:1px;border:none;color:#333;background-color:#333;">
          <% end %>
      <%= will_paginate @myridescreated_offers %>

  <%end %>


  <div class="col-md-12" style="background: #53A2d0; width: 100%; min-width: 100px; color: #beddf1; text-align: left;">
    <img src="<%= asset_path "passenger_icon.png" %>" style="height: 36px; margin-top:5px; float:left; background-color: #53A2d0; padding: 8px">
    <h4 style="margin-top:15px;"><%= t("static.requests") %></h4>
  </div>

  <% if @myridescreatedrequest.count ==  0 %>
      <div class="col-md-12">
        <p> Currently no rides Available </p>
      </div>

  <% elsif @myridescreatedrequest.count > 0 %>

  <% @myridescreatedrequest.each_with_index do |ride1, index| %>
      <div class="row" style="padding-bottom: -8px;padding-top: 8px;">
        <div class="col-md-1">
          <% if ride1.ride_type == 0%>
              <img src="<%= asset_path "MainCampus@2x.png" %>" style="height: 46px; width:77px; margin-top:15px; float: left">
          <% else %>
              <img class="img-responsive" id="destination_image" src='<%= @pic_url[index] %>' style="height: 46px; width:74px; margin-top:15px; float: left">
          <% end %>

        </div>

        <div class="col-md-6">
          <h4 style="margin-top:12px;color: #0076b3"> &nbsp;<%= ride1.departure_place %>
            <img src="<%= asset_path "arrow_left.png" %>" style="height: 14px;">  <%= ride1.destination %></h4>
          <p style="margin-top: -2px;"> &nbsp;
            <img src="<%= asset_path "CalendarIconBlack@2x.png" %>" style="height: 14px;"> &nbsp; <%= ride1.departure_time.strftime("%d-%m-%Y") %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="<%= asset_path "TimeIconBlack.png" %>" style="height: 14px;"> &nbsp; <%= ride1.departure_time.strftime("%I:%M %P") %> &nbsp;

          </p>
        </div>

        <div class="col-md-5">

          <% if ride1.requests.size > 0 %>
              <div class="col-md-1"style="width:10%;margin-right:35px;margin-left:130px;">
                <img src="<%= asset_path "passenger_icon.png" %>" style="height: 46px; margin-top:15px;  background-color: #48a748; padding: 8px">
              </div>


              <div class="col-md-1"style="width: 10%;padding-left:5px;padding-right:35px;">
                <img src="<%= asset_path "cancel_icon.png" %>" style="height: 46px; margin-top:15px;  background-color: #b43030; padding: 8px">
              </div>
          <% end %>

          <div class="col-md-3" style="padding-bottom:30px;margin-right:-350px;">
            <%= link_to "/rides/#{ride1.id}", {method: :get, class: "btn", style: "border-radius: 0px;float: right; margin-top: 15px; height: 52px; padding: 15px;margin-right: -350px;background-color:#53A2d0;color: #beddf1; "} do %>
                View Ride <span class="glyphicon glyphicon-chevron-right"></span>
            <% end %>
          </div>

        </div>
      </div>

          <hr size="2" style="margin-top:5px;height:1px;border:none;color:#333;background-color:#333;">

<% end %>
      <%= will_paginate @myridescreatedrequest %>
<% end %>
</div>

<div id="Joined_div" class="well col-md-12" style="margin-right: 0px; margin-top: 0px;border:none;border-radius:0px;">

  <div class="col-md-12" style="background: #53A2d0; width: 100%; min-width: 100px; color: #beddf1; text-align: left;">
    <img src="<%= asset_path "passenger_icon.png" %>" style="height: 36px; margin-top:5px; float:left; background-color: #53A2d0; padding: 8px">
    <h4 style="margin-top:15px;"><%= t("static.accepted") %></h4>
  </div>
  <% if @myridesjoined_accepted.count ==  0 %>
      <div class="col-md-12">
        <p> Currently no rides Available </p>
      </div>

  <% elsif @myridesjoined_accepted.count > 0 %>
  <% @myridesjoined_accepted.each_with_index do |ride1, index| %>
      <div class="row" style="padding-bottom: -8px;padding-top: 8px;">
        <div class="col-md-1">
          <% if ride1.ride_type == 0%>
              <img src="<%= asset_path "MainCampus@2x.png" %>" style="height: 46px; width:77px; margin-top:15px; float: left">
          <% else %>
              <img class="img-responsive" id="destination_image" src='<%= @pic_url[index] %>' style="height: 46px; width:74px; margin-top:15px; float: left">
          <% end %>

        </div>

        <div class="col-md-9">
          <h4 style="margin-top:12px;color: #0076b3"> &nbsp;<%= ride1.departure_place %>
            <img src="<%= asset_path "arrow_left.png" %>" style="height: 14px;">  <%= ride1.destination %></h4>
          <p style="margin-top: -2px;"> &nbsp;
            <img src="<%= asset_path "CalendarIconBlack@2x.png" %>" style="height: 14px;"> &nbsp; <%= ride1.departure_time.strftime("%d-%m-%Y") %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="<%= asset_path "TimeIconBlack.png" %>" style="height: 14px;"> &nbsp; <%= ride1.departure_time.strftime("%I:%M %P") %> &nbsp;

          </p>
        </div>


        <div class="col-md-3" style="float:right;">
          <%= link_to "/rides/#{ride1.id}", {method: :get, class: "btn", style: "border-radius: 0px;float: right; margin-top: 15px; height: 52px; padding: 15px;background-color:#53A2d0;color: #beddf1; "} do %>
              View Ride <span class="glyphicon glyphicon-chevron-right"></span>
          <% end %>
        </div>

      </div>

          <hr size="2" style="margin-top:5px;height:1px;border:none;color:#333;background-color:#333;">
<% end %>
      <%= will_paginate @myridesjoined_accepted %>
<% end %>


  <div class="col-md-12" style="background: #53A2d0; width: 100%; min-width: 100px; color: #beddf1; text-align: left;">
    <img src="<%= asset_path "passenger_icon.png" %>" style="height: 36px; margin-top:5px; float:left; background-color: #53A2d0; padding: 8px">
    <h4 style="margin-top:15px;"><%= t("static.pending") %></h4>
  </div>
  <% if @myridesjoined_pending.count ==  0 %>
      <div class="col-md-12">
        <p> Currently no rides Available </p>
      </div>

  <% elsif @myridesjoined_pending.count > 0 %>
  <% @myridesjoined_pending.each_with_index do |ride1, index| %>
      <div class="row" style="padding-bottom: -8px;padding-top: 8px;">
        <div class="col-md-1">
          <% if ride1.ride_type == 0%>
              <img src="<%= asset_path "MainCampus@2x.png" %>" style="height: 46px; width:77px; margin-top:15px; float: left">
          <% else %>
              <img class="img-responsive" id="destination_image" src='<%= @pic_url[index] %>' style="height: 46px; width:74px; margin-top:15px; float: left">
          <% end %>

        </div>

        <div class="col-md-6">
          <h4 style="margin-top:12px;color: #0076b3"> &nbsp;<%= ride1.departure_place %>
            <img src="<%= asset_path "arrow_left.png" %>" style="height: 14px;">  <%= ride1.destination %></h4>
          <p style="margin-top: -2px;"> &nbsp;
            <img src="<%= asset_path "CalendarIconBlack@2x.png" %>" style="height: 14px;"> &nbsp; <%= ride1.departure_time.strftime("%d-%m-%Y") %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="<%= asset_path "TimeIconBlack.png" %>" style="height: 14px;"> &nbsp; <%= ride1.departure_time.strftime("%I:%M %P") %> &nbsp;

          </p>
        </div>

        <div class="col-md-5">

          <div class="col-md-1"style="width:10%;margin-right:35px;margin-left:130px;">
            <img src="<%= asset_path "passenger_icon.png" %>" style="height: 46px; margin-top:15px;  background-color: #48a748; padding: 8px">
          </div>


          <div class="col-md-1"style="width: 10%;padding-left:5px;padding-right:35px;">
            <img src="<%= asset_path "cancel_icon.png" %>" style="height: 46px; margin-top:15px;  background-color: #b43030; padding: 8px">
          </div>


          <div class="col-md-3" style="margin-left:70px;padding-left:120px;padding-bottom:30px;margin-right:-80px;">
            <%= link_to "/rides/#{ride1.id}", {method: :get, class: "btn", style: "border-radius: 0px;float: right; margin-top: 15px; height: 52px; padding: 15px;background-color:#53A2d0;color: #beddf1; "} do %>
                View Ride <span class="glyphicon glyphicon-chevron-right"></span>
            <% end %>
          </div>

        </div>
      </div>

          <hr size="2" style="margin-top:5px;height:1px;border:none;color:#333;background-color:#333;">
<% end %>
      <%= will_paginate @myridesjoined_pending %>
  <%end %>

</div>
<div id="Past_div" class="well col-md-12" style="margin-right: 0px; margin-top: 0px;border:none;border-radius:0px;">

  <div class="col-md-12" style="background: #53A2d0; width: 100%; min-width: 100px; color: #beddf1; text-align: left;">
    <img src="<%= asset_path "driver_icon.png" %>" style="height: 36px; margin-top:5px; float:left; background-color: #53A2d0; padding: 8px">
    <h4 style="margin-top:15px;"><%= t("static.offers") %></h4>
  </div>

  <% if @myridespast_offers.count ==  0 %>
      <div class="col-md-12">
        <p> Currently no rides Available </p>
      </div>

  <% elsif @myridespast_offers.count > 0 %>

  <% @myridespast_offers.each_with_index do |ride1, index| %>
      <div class="row" style="padding-bottom: -8px;padding-top: 8px;">
        <div class="col-md-1">
          <% if ride1.ride_type == 0%>
              <img src="<%= asset_path "MainCampus@2x.png" %>" style="height: 46px; width:77px; margin-top:15px; float: left">
          <% else %>
              <img class="img-responsive" id="destination_image" src='<%= @pic_url[index] %>' style="height: 46px; width:74px; margin-top:15px; float: left">
          <% end %>

        </div>

        <div class="col-md-8">
          <h4 style="margin-top:12px;color: #0076b3"> &nbsp;<%= ride1.departure_place %>
            <img src="<%= asset_path "arrow_left.png" %>" style="height: 14px;">  <%= ride1.destination %></h4>
          <p style="margin-top: -2px;"> &nbsp;
            <img src="<%= asset_path "CalendarIconBlack@2x.png" %>" style="height: 14px;"> &nbsp; <%= ride1.departure_time.strftime("%d-%m-%Y") %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="<%= asset_path "TimeIconBlack.png" %>" style="height: 14px;"> &nbsp; <%= ride1.departure_time.strftime("%I:%M %P") %> &nbsp;

          </p>
        </div>

        <div class="col-md-3">



          <div class="col-md-1"style="width: 10%;padding-left:5px;padding-right:35px;">
            <img src="<%= asset_path "rating.png" %>" style="height: 46px; margin-top:15px;  background-color: #5386b4; padding: 8px">
          </div>


          <div class="col-md-2" style="float:right;">
            <%= link_to "/rides/#{ride1.id}", {method: :get, class: "btn", style: "border-radius: 0px;float: right; margin-top: 15px; height: 52px; padding: 15px;background-color:#53A2d0; color: #beddf1; "} do %>
                View Ride <span class="glyphicon glyphicon-chevron-right"></span>
            <% end %>
          </div>

        </div>


      </div>
          <hr size="2" style="margin-top:5px;height:1px;border:none;color:#333;background-color:#333;">


  <%end %>
      <%= will_paginate @myridespast_offers %>
<% end %>

  <div class="col-md-12" style="background: #53A2d0; width: 100%; min-width: 100px; color: #beddf1; text-align: left;">
    <img src="<%= asset_path "passenger_icon.png" %>" style="height: 36px; margin-top:5px; float:left; background-color: #53A2d0; padding: 8px">
    <h4 style="margin-top:15px;"><%= t("static.requests") %></h4>
  </div>
      <% if @myridespast_requests.count ==  0 %>
          <div class="col-md-12">
            <p> Currently no rides Available </p>
          </div>

      <% elsif @myridespast_requests.count > 0 %>

  <% @myridespast_requests.each_with_index do |ride1, index| %>
      <div class="row" style="padding-bottom: -8px;padding-top: 8px;">
        <div class="col-md-1">
          <% if ride1.ride_type == 0%>
              <img src="<%= asset_path "MainCampus@2x.png" %>" style="height: 46px; width:77px; margin-top:15px; float: left">
          <% else %>
              <img class="img-responsive" id="destination_image" src='<%= @pic_url[index] %>' style="height: 46px; width:74px; margin-top:15px; float: left">
          <% end %>

        </div>

        <div class="col-md-8">
          <h4 style="margin-top:12px;color: #0076b3"> &nbsp;<%= ride1.departure_place %>
            <img src="<%= asset_path "arrow_left.png" %>" style="height: 14px;">  <%= ride1.destination %></h4>
          <p style="margin-top: -2px;"> &nbsp;
            <img src="<%= asset_path "CalendarIconBlack@2x.png" %>" style="height: 14px;"> &nbsp; <%= ride1.departure_time.strftime("%d-%m-%Y") %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="<%= asset_path "TimeIconBlack.png" %>" style="height: 14px;"> &nbsp; <%= ride1.departure_time.strftime("%I:%M %P") %> &nbsp;

          </p>
        </div>

        <div class="col-md-3">



          <div class="col-md-1"style="width: 10%;padding-left:5px;padding-right:35px;">
            <img src="<%= asset_path "rating.png" %>" style="height: 46px; margin-top:15px;  background-color: #5386b4; padding: 8px">
          </div>


          <div class="col-md-2" style="float:right;">
            <%= link_to "/rides/#{ride1.id}", {method: :get, class: "btn", style: "border-radius: 0px;float: right; margin-top: 15px; height: 52px; padding: 15px;background-color:#53A2d0;color: #beddf1; "} do %>
                View Ride <span class="glyphicon glyphicon-chevron-right"></span>
            <% end %>
          </div>

        </div>
      </div>


          <hr size="2" style="margin-top:5px;height:1px;border:none;color:#333;background-color:#333;">



  <%end %>
  <%= will_paginate @myridespast_requests %>
<%end %>
</div>

</div>
</div>
</div>
</div>



<script>
    $("#Created").click(function(){
        $("#Created_div").css("display", "block");
        $("#Joined_div").css("display","none")
        $("#Past_div").css("display","none");
        $("#Created").css('background-color','#53A2d0');
        $("#Joined").css('background-color','#2B2B2B').css('color','#F2F2F2');
        $("#Past").css('background-color','#2B2B2B').css('color','#F2F2F2');
    })
    $("#Joined").click(function(){
        $("#Created_div").css("display", "none");
        $("#Joined_div").css("display","block");
        $("#Past_div").css("display","none");
        $("#Joined").css('background-color','#53A2d0');
        $("#Created").css('background-color','#2B2B2B').css('color','#F2F2F2');
        $("#Past").css('background-color','#2B2B2B').css('color','#F2F2F2');
    })
    $("#Past").click(function(){
        $("#Created_div").css("display", "none");
        $("#Joined_div").css("display","none")
        $("#Past_div").css("display", "block");
        $("#Past").css('background-color','#53A2d0');
        $("#Created").css('background-color','#2B2B2B').css('color','#F2F2F2');
        $("#Joined").css('background-color','#2B2B2B').css('color','#F2F2F2');
    });
    $(document).ready(function(){
        $("#Created_div").css("display", "block");
        $("#Joined_div").css("display","none");
        $("#Past_div").css("display","none");
        $("#Joined").css('background-color','#2B2B2B').css('color','#F2F2F2');
        $("#Past").css('background-color','#2B2B2B').css('color','#F2F2F2');

    });

    $("#ride_destination").geocomplete({
        details: ".details",
        detailsAttribute: "data-geo"
    });


</script>