<div class="container_main">
  <% provide(:title, "Signup page") %>

  <div class="row" class="new_ride_background" id="main_img" style="margin-right: 0px; ">

    <div class="ride_new_page_background">
      <div class="row">
        <div class="col-xs-1 col-md-3">
        </div>
        <div class="col-xs-9 col-md-6" >
          <div class="panel panel-primary" style="width: 70%; border: none;margin-top: 100px;margin-left:100px;background-color: #2B2B2B;">
            <div class="panel-heading" style="background: #2B2B2B;border-color: #2B2B2B">
              <p> <img src='<%= asset_path "logo.png"%>' style="height: 20px;float:left;background-color: #2B2B2B;"> &nbsp; &nbsp;</p>

            </div>
            <div class="panel-body" class="form-horizontal"style="background-color:#2B2B2B ;">
              <%= form_for(@user, multipart: true) do |f| %>
                  <%= render 'shared/error_messages', object: f.object %>
                  <div class="form-group">
                    <div class="col-sm-4" style="color:#ffffff">
                      <%= f.label :first_name,t("user.first_name"), class: "control-label"%>
                    </div>
                    <div class="col-sm-7">
                      <%= f.text_field :first_name, class:"form-control" %>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-4" style="color:#ffffff">
                      <%= f.label :last_name, t("user.last_name"), class: "control-label"%>
                    </div>
                    <div class="col-sm-7">
                      <%= f.text_field :last_name, class:"form-control" %>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-4" style="color:#ffffff">
                      <%= f.label :department, t("user.department"), class: "control-label"%>
                    </div>
                    <div class="col-sm-7">
                      <%= f.select :department, options_for_select(["Architecture", "Chemistry", "Civil,Geo,Env.Eng", "Electrical,Engineering","Informatics", "Life and Food science","Mathematics","Mechanical Engineering", "Medicine","Physics", "Sport and Health Science", "TUM school of Education", "TUM School of Management"]) %>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-4" style="color:#ffffff">
                      <%= f.label :email, t("user.email"), class: "control-label"%>
                    </div>
                    <div class="col-sm-7">
                      <%= f.text_field :email, class:"form-control" %>
                    </div>
                  </div>
                  <br><br><br><br><br><br><br><br>
                  <p style="color: white"> &nbsp;Email with the password will be sent to your TUM mailbox</p>
                  <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-4"style="float:right">
                      <%= f.submit "Signup", class: "btn btn-large btn-primary" %>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-xs-1 col-md-3"></div>
      </div>
    </div>
  </div>
</div>
<style>
    .form-control
    {
        background-color: #909090;
        border-color : #909090;

    }
    .control-label
    {
        color: white;
    }
</style>

