<% provide(:title, "Find a ride") %>
<div class="row">

  <div class="col-xs-10 col-xs-offset-1">
    <h3>All Rides (<%= Ride.all.count %>)</h3>
    <table class="table table-condensed table-striped table-hover">
      <thead>
      <tr>
        <th class="col-sm-2">From</th>
        <th class="col-sm-2">Destination</th>
        <th class="col-sm-2">Date</th>
        <th class="col-sm-2">Seats</th>
        <th class="col-sm-2">Driver</th>
      </tr>
      </thead>
      <tbody>
      <% Ride.all.each do |ride| %>
          <tr>
            <td><span><%= ride.departure_place %></span></td>
            <td><span><%= ride.destination %></span></td>
            <td><span><%= ride.departure_time %></span></td>
            <td><span><%= pluralize(ride.free_seats, "seat") %></td>
            <td><span><%= link_to User.find(ride.user_id).first_name+" " +User.find(ride.user_id).last_name, user_path(ride.user_id) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>