
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
<%= javascript_include_tag "jquery.geocomplete.min.js" %>
<%= javascript_include_tag "jquery.datetimepicker.js" %>

<% provide(:title, "New ride") %>
<h1>Add a great ride</h1>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <%= form_for(@ride) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :departure_place %>
        <%= f.text_field :departure_place %>

        <%= f.label :destination %>
        <%= f.text_field :destination %>

        <%= f.label :departure_time %>
        <%= f.text_field :departure_time %>

        <%= f.label :free_seats %>
        <%= f.text_field :free_seats %>

        <%= f.label :meeting_point %>
        <%= f.text_field :meeting_point %>


        <%= f.label :ride_type%>
        <%= f.text_field :ride_type %>

        <%= f.label :car %>
        <%= f.text_field :car %>

          <%= f.label :ride_type %><br />
          <%= f.radio_button :ride_type, 0 %>
          <%= f.label :ride_type, "Campus", :value => 0  %>
          <%= f.radio_button :ride_type, 1, :checked => true %>
          <%= f.label :ride_type, "Activity", :value => 1 %>   <br />
          <span>
          <%= label_tag :is_driving %><br /></span>
          <%= radio_button_tag :is_driving, 1 %>
          <%= label_tag :is_driving, "Driver", :value => 1  %>
          <%= radio_button_tag :is_driving, 0, :checked => true %>
          <%= label_tag :is_driving, "Passenger", :value => 0 %>

        <%= f.submit "Add new ride", class: "btn btn-large btn-primary" %>

    <% end %>
  </div>
</div>

<script>
    $("#ride_departure_place").geocomplete();
    $("#ride_destination").geocomplete();
    $('#ride_departure_time').datetimepicker();
</script>

