<%= javascript_include_tag "jquery.bootpag.min.js" %>

<div class="container_ride">
<% provide(:title, "Timeline") %>
<div class="row"  id="main_img" style="padding-left:70px;margin-top: 47px; background: url('<%= asset_path "1.jpg"%>')">
<div class="col-md-7 " style="margin-top:25px;">
  <div id="All"  class="col-md-4" style=" background: #0F3750;text-color : #fffff;text-align : center">
    <p><img src="<%= asset_path "NewsFeedIcon@2x.png" %>" style="height: 20px;margin-right: 0px; margin-top: 0px;">
      <a href="#" id="all"style="color: white;"><%= t("static.all") %></a>
    </p>
  </div>
  <div id="Yours" class="col-md-4" style=" background: #0F3750;text-color : #fffff;text-align : center">
    <p><img src="<%= asset_path "NewsFeedIcon@2x.png" %>" style="height: 20px;margin-right: 0px; margin-top: 0px;">
      <a href="#" id="all"style="color: white;"><%= t("static.yours") %></a>
    </p>
  </div>
  <div id="Lastminute" class="col-md-4" style="background: #0F3750;text-color : #fffff;text-align : center">
    <p><img src="<%= asset_path "NewsFeedIcon@2x.png" %>" style="height: 20px;margin-right: 0px; margin-top: 0px;">
      <a href="#" id="lastminute"style="color: white;"><%= t("static.lastminute") %></a>
    </p>
  </div>

  <div id="All_div" class="well col-md-12" style="margin-right: 0px; margin-top: 0px;border:none;border-radius:0px;">

    <% if @all.count ==  0 %>
        <div class="col-md-12">
          <p> Currently no rides Available </p>
        </div>

    <% elsif @all.count > 0 %>

    <% @all.each_with_index do |ride1, index| %>
        <div class="row" style="border-bottom : solid 1px;padding-top:15px;">
          <div class="col-md-1">
            <% if ride1.relationships.first.is_driving == true %>
                <img src="<%= asset_path "driver_icon.png" %>" style="height: 46px;float:left; background-color: #0F3750; padding: 8px">
            <% elsif ride1.relationships.first.is_driving == false %>
                <img src="<%= asset_path "passenger_icon.png" %>" style="height: 46px;  float: left;  background-color: #0F3750; padding: 8px">
            <% end %>
          </div>

          <div class="col-md-8">
            <% if ride1.relationships.first.is_driving == true %>
                <h4 style="color: #0076b3;margin-top: -1px;"> &nbsp; Ride offer to <%= ride1.destination %></h4>
            <% elsif ride1.relationships.first.is_driving == false %>
                <h4 style="color: #0076b3;margin-top: -1px;"> &nbsp; Ride request to <%= ride1.destination %></h4>
            <% end %>
            <p> &nbsp;
              <img src="<%= asset_path "CalendarIconBlack@2x.png" %>" style="height: 14px;margin-top: -3px;"> &nbsp; <%= ride1.departure_time.strftime("%d-%m-%Y") %> &nbsp;
              <img src="<%= asset_path "TimeIconBlack.png" %>" style="height: 14px; margin-top: -3px;"> &nbsp; <%= ride1.departure_time.strftime("%I:%M %P") %> &nbsp;

            </p>
          </div>
          <div class="col-md-3">
            <% if ride1.relationships.first.is_driving == true %>
                <% if @time_diff_components[index] <= 30 %>
                    <%= link_to "rides/#{ride1.id}", {method: :get, class: "btn btn-danger", style: "float: right; margin-top: -2px; height: 48px;width: 150px; padding: 12px;"} do %>
                        Join within 30 mins
                    <% end %>
                <% elsif @time_diff_components[index] <= 120 && @time_diff_components[index] > 30%>
                    <%= link_to "rides/#{ride1.id}", {method: :get, class: "btn btn-warning", style: "float: right; margin-top: -2px; height: 48px;width: 150px; padding: 12px;"} do %>
                        Join within 2 hrs
                    <% end %>
                <% else @time_diff_components[index] <= 4320 %>
                    <%= link_to "rides/#{ride1.id}", {method: :get, class: "btn btn-success", style: "float: right; margin-top: -2px; height: 48px;width: 150px; padding: 12px;"} do %>
                        Join within 3 days
                    <% end %>
                <% end %>
            <% end %>
            <% if ride1.relationships.first.is_driving == false %>
                <% if @time_diff_components[index] <= 30 %>
                    <%= link_to "rides/#{ride1.id}", {method: :get, class: "btn btn-danger", style: "float: right; margin-top: -2px; height: 48px; width: 150px;padding: 12px;"} do %>
                        Help within 30 mins
                    <% end %>
                <% elsif @time_diff_components[index] <= 120 && @time_diff_components[index] > 30%>
                    <%= link_to "rides/#{ride1.id}", {method: :get, class: "btn btn-warning", style: "float: right; margin-top: -2px; height: 48px; width: 150px;padding: 12px;"} do %>
                        Help within 2 hrs
                    <% end %>
                <% else @time_diff_components[index] <= 4320 %>
                    <%= link_to "rides/#{ride1.id}", {method: :get, class: "btn btn-success", style: "float: right; margin-top: -2px; height: 48px; width: 150px;padding: 12px;"} do %>
                        Help within 3 days
                    <% end %>
                <% end %>
            <% end %>
          </div>
        </div>
    <% end %>
    <%= will_paginate @all %>
    <% end %>
  </div>
  <div id="Yours_div" class="well col-md-12" style="margin-right: 0px; margin-top: 0px;border:none;border-radius:0px;">
    <% if @yours.count ==  0 %>
        <div class="col-md-12">
          <p> Currently no rides Available </p>
        </div>

    <% elsif @yours.count > 0 %>
    <% @yours.each_with_index do |ride1, index| %>

        <div class="row" style="border-bottom : solid 1px;padding-top:15px;">
          <div class="col-md-1">
            <% if ride1.relationships.first.is_driving == true %>
                <img src="<%= asset_path "driver_icon.png" %>" style="height: 46px;float:left; background-color: #0F3750; padding: 8px">
            <% elsif ride1.relationships.first.is_driving == false %>
                <img src="<%= asset_path "passenger_icon.png" %>" style="height: 46px;  float: left;  background-color: #0F3750; padding: 8px">
            <% end %>
          </div>

          <div class="col-md-8">
            <% if ride1.relationships.first.is_driving == true %>
                <h4 style="color: #0076b3;margin-top: -1px;"> &nbsp; Ride offer to <%= ride1.destination %></h4>
            <% elsif ride1.relationships.first.is_driving == false %>
                <h4 style="color: #0076b3;margin-top: -1px;"> &nbsp; Ride request to <%= ride1.destination %></h4>
            <% end %>
            <p> &nbsp;
              <img src="<%= asset_path "CalendarIconBlack@2x.png" %>" style="height: 14px;margin-top: -3px;"> &nbsp; <%= ride1.departure_time.strftime("%d-%m-%Y") %> &nbsp;
              <img src="<%= asset_path "TimeIconBlack.png" %>" style="height: 14px; margin-top: -3px;"> &nbsp; <%= ride1.departure_time.strftime("%I:%M %P") %> &nbsp;

            </p>
          </div>
          <div class="col-md-3">
            <% if ride1.relationships.first.is_driving == true %>
                <%= link_to "rides/#{ride1.id}", {method: :get, class: "btn btn-success", style: "float: right; margin-top: 1%; height: 48px; padding: 12px;"} do %>
                    View Ride <span class="glyphicon glyphicon-chevron-right"></span>
                <% end %>
            <% elsif ride1.relationships.first.is_driving == false %>
                <%= link_to "rides/#{ride1.id}", {method: :get, class: "btn btn-success", style: "float: right; margin-top: 1%; height: 48px; padding: 12px;"} do %>
                    View Offer <span class="glyphicon glyphicon-chevron-right"></span>
                <% end %>
            <% end %>
          </div>
        </div>
    <% end %>
    <%= will_paginate @yours %>
    <% end %>
  </div>
  <div id="Lastminute_div" class="well col-md-12" style="margin-right: 0px; margin-top: 0px;border:none;border-radius:0px;">
    <% if @lastminute_rides.count ==  0 %>
        <div class="col-md-12">
          <p> Currently no rides Available </p>
        </div>

    <% elsif @lastminute_rides.count > 0 %>
    <% @lastminute_rides.each_with_index do |ride1, index| %>

        <div class="row" style="border-bottom : solid 1px;padding-top:15px;">
          <div class="col-md-1">
            <% if ride1.relationships.first.is_driving == true %>
                <img src="<%= asset_path "driver_icon.png" %>" style="height: 46px;float:left; background-color: #0F3750; padding: 8px">
            <% elsif ride1.relationships.first.is_driving == false %>
                <img src="<%= asset_path "passenger_icon.png" %>" style="height: 46px;  float: left;  background-color: #0F3750; padding: 8px">
            <% end %>
          </div>

          <div class="col-md-8">
            <% if ride1.relationships.first.is_driving == true %>
                <h4 style="color: #0076b3;margin-top: -1px;"> &nbsp; Ride offer to <%= ride1.destination %></h4>
            <% elsif ride1.relationships.first.is_driving == false %>
                <h4 style="color: #0076b3;margin-top: -1px;"> &nbsp; Ride request to <%= ride1.destination %></h4>
            <% end %>
            <p> &nbsp;
              <img src="<%= asset_path "CalendarIconBlack@2x.png" %>" style="height: 14px;margin-top: -3px;"> &nbsp; <%= ride1.departure_time.strftime("%d-%m-%Y") %> &nbsp;
              <img src="<%= asset_path "TimeIconBlack.png" %>" style="height: 14px; margin-top: -3px;"> &nbsp; <%= ride1.departure_time.strftime("%I:%M %P") %> &nbsp;

            </p>
          </div>
          <div class="col-md-3">
            <% if ride1.relationships.first.is_driving == true %>
                <% if @time_diff_components[index] <= 30 %>
                    <%= link_to "rides/#{ride1.id}", {method: :get, class: "btn btn-danger", style: "float: right; margin-top: -2px; height: 48px;width: 150px; padding: 12px;"} do %>
                        Join within 30 mins
                    <% end %>
                <% elsif @time_diff_components[index] <= 120 && @time_diff_components[index] > 30%>
                    <%= link_to "rides/#{ride1.id}", {method: :get, class: "btn btn-warning", style: "float: right; margin-top: -2px; height: 48px;width: 150px; padding: 12px;"} do %>
                        Join within 2 hrs
                    <% end %>
                <% else @time_diff_components[index] <= 4320 %>
                    <%= link_to "rides/#{ride1.id}", {method: :get, class: "btn btn-success", style: "float: right; margin-top: -2px; height: 48px;width: 150px; padding: 12px;"} do %>
                        Join within 3 days
                    <% end %>
                <% end %>
            <% end %>
            <% if ride1.relationships.first.is_driving == false %>
                <% if @time_diff_components[index] <= 30 %>
                    <%= link_to "rides/#{ride1.id}", {method: :get, class: "btn btn-danger", style: "float: right; margin-top: -2px; height: 48px; width: 150px;padding: 12px;"} do %>
                        Help within 30 mins
                    <% end %>
                <% elsif @time_diff_components[index] <= 120 && @time_diff_components[index] > 30%>
                    <%= link_to "rides/#{ride1.id}", {method: :get, class: "btn btn-warning", style: "float: right; margin-top: -2px; height: 48px; width: 150px;padding: 12px;"} do %>
                        Help within 2 hrs
                    <% end %>
                <% else @time_diff_components[index] <= 4320 %>
                    <%= link_to "rides/#{ride1.id}", {method: :get, class: "btn btn-success", style: "float: right; margin-top: -2px; height: 48px; width: 150px;padding: 12px;"} do %>
                        Help within 3 days
                    <% end %>
                <% end %>
            <% end %>
          </div>
        </div>
    <% end %>
    <%= will_paginate @lastminute_rides %>
        <% end %>
  </div>
</div>
<div class="col-md-1"></div>
<div class="col-md-4">
  <div class="sidebar-module " style="margin-top:25px;width: 375px;margin-left: -50px;">
    <div class="panel panel-primary" style="border: none;border-radius: 0px;">
      <div class="panel-heading" style="border: none;border-radius: 0px;background: #0F3750;color: #beddf1;">
        <h3 class="panel-title " ><img src="<%= asset_path "date_icon.png" %>" style="height: 14px;margin-top: -3px;margin-left: 14px">&nbsp;&nbsp; <%= t("static.today") %></h3>
      </div>
      <div class="panel-body">
        <% if @today_rides.count ==  0 %>
            <div class="col-md-12">
              <p> Currently no rides Available </p>
            </div>

        <% elsif @today_rides.count > 0 %>
        <% @today_rides.each_with_index do |ride1, index| %>


                <div class="col-sm-2">
                  <% if ride1.relationships.first.is_driving == true %>
                      <img src="<%= asset_path "driver_icon.png" %>" style="height: 46px; margin-top:10px; float:left; background-color: #0F3750; padding: 8px">
                  <% elsif ride1.relationships.first.is_driving == false %>
                      <img src="<%= asset_path "passenger_icon.png" %>" style="height: 46px; margin-top:10px; float: left;  background-color: #0F3750; padding: 8px">
                  <% end %>
                </div>
                <div class="col-sm-10">
                  <h4 style="margin-top: 10px;color: #0076b3"> &nbsp;<%= ride1.destination %></h4>
                  <p style="margin-top: -4px;"> &nbsp;

                    <img src="<%= asset_path "TimeIconBlack.png" %> " style="height: 14px;"> &nbsp; <%= ride1.departure_time.strftime("%I:%M %P") %> &nbsp;

                  </p>
                </div>
                <br><br><br><hr size="2" style="height:1px;border:none;color:#333;background-color:#333;">
            <%end %>
        <% end %>
      </div>
    </div>
    <div class="panel panel-primary" style="border: none;border-radius: 0px;margin-top:40px;">
      <div class="panel-heading" style="border: none;border-radius: 0px;background: #0F3750;color: #beddf1;">
        <h3 class="panel-title " ><img src="<%= asset_path "date_icon.png" %>" style="height: 14px;margin-top: -3px;margin-left: 14px">&nbsp;&nbsp; <%= t("static.tomorrow") %></h3>
      </div>
      <div class="panel-body">
        <% if @tomorrow_rides.count ==  0 %>
            <div class="col-md-12">
              <p> Currently no rides Available </p>
            </div>

        <% elsif @tomorrow_rides.count > 0 %>
        <% @tomorrow_rides.each_with_index do |ride1, index| %>

                <div class="col-sm-2">
                  <% if ride1.relationships.first.is_driving == true %>
                      <img src="<%= asset_path "driver_icon.png" %>" style="height: 46px; margin-top:10px; float:left; background-color: #0F3750; padding: 8px">
                  <% elsif ride1.relationships.first.is_driving == false %>
                      <img src="<%= asset_path "passenger_icon.png" %>" style="height: 46px; margin-top:10px; float: left;  background-color: #0F3750; padding: 8px">
                  <% end %>
                </div>
                <div class="col-sm-10">
                  <h4 style="margin-top: 10px;color: #0076b3"> &nbsp;<%= ride1.destination %></h4>
                  <p style="margin-top: -4px;"> &nbsp;

                    <img src="<%= asset_path "TimeIconBlack.png" %> " style="height: 14px;"> &nbsp; <%= ride1.departure_time.strftime("%I:%M %P") %> &nbsp;

                  </p>
                </div>
                <br><br><br><hr size="2" style="height:1px;border:none;color:#333;background-color:#333;">
            <%end %>
        <% end %>
      </div>
    </div>

    <div class="panel panel-primary"style="border: none;border-radius: 0px;margin-top:40px;margin-bottom:50px;">
      <div class="panel-heading" style="border: none;border-radius: 0px;background: #0F3750;color: #beddf1;">
        <h3 class="panel-title " ><img src="<%= asset_path "NewsFeedIcon@2x.png" %>" style="height: 24px;margin-top: -3px;margin-left: 14px">&nbsp;&nbsp; <%= t("static.tumnews") %></h3>

      </div>
      <div class="panel-body">
        <% rss = SimpleRSS.parse(open('https://www.tum.de/nc/en/university-life/events/?type=100')).items %>
        <% rss.each_with_index  do |rss1,index| %>
            <% if index < 3 %>
                <div onclick="location.href='<%= rss1.link %> ';" style="cursor: pointer;">
                  <div class="col-md-2">
                    <img src="<%= asset_path "info_icon.png" %>" style="height: 46px; margin-top:10px; float:left; background-color: #0F3750; padding: 8px">
                  </div>
                  <div class="col-md-10">
                    <h4 style="margin-top: 10px;color: #0076b3"> &nbsp;<%= raw rss1.title.first(20).force_encoding("UTF-8") %></h4>
                    <p style="margin-top: -4px;"> &nbsp;

                      <img src="<%= asset_path "TimeIconBlack.png" %> " style="height: 14px;"> &nbsp; <%= rss1.pubDate.strftime("%d-%m-%Y") %> &nbsp;

                    </p>
                  </div>
                  <br><br><br><hr size="2" style="height:1px;border:none;color:#333;background-color:#333;">

                </div>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<script>
    $("#All").click(function(){
        $("#All_div").css("display", "block");
        $("#Yours_div").css("display","none")
        $("#Lastminute_div").css("display","none");
        $("#All").css('background-color','#0F3750');
        $("#Yours").css('background-color','#2B2B2B').css('color','#F2F2F2');
        $("#Lastminute").css('background-color','#2B2B2B').css('color','#F2F2F2');
    })
    $("#Yours").click(function(){
        $("#All_div").css("display", "none");
        $("#Yours_div").css("display","block")
        $("#Lastminute_div").css("display","none");
        $("#Yours").css('background-color','#0F3750');
        $("#All").css('background-color','#2B2B2B').css('color','#F2F2F2');
        $("#Lastminute").css('background-color','#2B2B2B').css('color','#F2F2F2');
    })
    $("#Lastminute").click(function(){
        $("#All_div").css("display", "none");
        $("#Yours_div").css("display","none")
        $("#Lastminute_div").css("display", "block");
        $("#Lastminute").css('background-color','#0F3750');
        $("#All").css('background-color','#2B2B2B').css('color','#F2F2F2');
        $("#Yours").css('background-color','#2B2B2B').css('color','#F2F2F2');
    });
    $(document).ready(function(){
        $("#All_div").css("display", "block");
        $("#Yours_div").css("display","none");
        $("#Lastminute_div").css("display","none");
        $("#Yours").css('background-color','#2B2B2B').css('color','#F2F2F2');
        $("#Lastminute").css('background-color','#2B2B2B').css('color','#F2F2F2');

    });

    $("#ride_destination").geocomplete({
        details: ".details",
        detailsAttribute: "data-geo"
    });


</script>
