<%= javascript_include_tag "jquery.bootpag.min.js" %>

<div class="container-main">
  <% provide(:title, "Timeline") %>
  <div class="row" class="new_ride_background" id="main_img" style="margin-right: 0px; margin-top: 47px; background: url('<%= asset_path "1.jpg"%>')  no-repeat center center fixed">
    <div class="ride_new_page_background"style="margin-top: 10px;">

<div class="col-xs-1 col-md-1">

</div>

    <div class="col-xs-6 col-md-6">

    <div class =  "col-xs-12 Categories">
        <div id="All" class="col-xs-4 col-md-4" style="background: #0F3750;color: #beddf1;text-color : #fffff;text-align : center">
          <p><img src="<%= asset_path "NewsFeedIcon@2x.png" %>" style="height: 20px;">
            <a href="#" id="all" >All</a>
          </p>
        </div>

        <div id="Yours" class="col-xs-4 col-md-4" style="background: #0F3750;color: #beddf1;text-align : center">
          <p><img src="<%= asset_path "NewsFeedIcon@2x.png" %>" style="height: 20px;">
            <a href="#" style="color:#F2F2F2;"id="yours">Yours</a></p>
        </div>

        <div id="Lastminute" class="col-md-4" style="background: #0F3750;color: #beddf1;text-align : center">
          <p><img src="<%= asset_path "NewsFeedIcon@2x.png" %>" style="height: 20px;">
            <a href="#" style="color:#F2F2F2;"id="LastMinute">Lastminute</a></p>
        </div>

      </div>



        <div id="All_div" class="col-sm-12" >

          <div id="content" class="well col-sm-12 border-radius:0px;border:none;">
              <% @all.each_with_index do |ride1, index| %>
              <div class="col-md-1">
                <% if ride1.relationships.first.is_driving == true %>
                    <div>
                      <img src= "<%= asset_path"DriverIconBig@2x.png" %>" style="margin-left:-4px;height: 46px;padding:8px;background-color: #0F3750"/>
                    </div>
                <% elsif ride1.relationships.first.is_driving == false %>
                    <div>
                      <img src= "<%= asset_path"PassengerIconBig@2x.png" %>" style="height: 46px;padding:8px;background-color: #0F3750"/>
                    </div>
                <% end %>
              </div>
              <div class="col-md-7">
                <h4> &nbsp; &nbsp;  Ride offer to <%= ride1.departure_place %></h4>
                <p> &nbsp; &nbsp; <img src="<%= asset_path "CalendarIconBlack.png" %>" style="height: 10px;"> &nbsp; <%= ride1.departure_time.strftime("%d-%m-%Y")%> &nbsp; &nbsp; <img src="<%= asset_path "TimeIconBlack.png" %>" style="height: 10px;"> &nbsp; <%= ride1.departure_time.strftime("%I:%M %P")%> </p>
              </div>
              <div class="col-md-4">
                <% if @time_diff_components[index] <= 30 %>
                    <%= link_to "rides/#{ride1.id}", {method: :get, class: "btn btn-danger", style: "float: right; height: 48px; padding: 12px;"} do %>
                        View Offer <% end %>
                <% elsif @time_diff_components[index] <= 120 && @time_diff_components[index] > 30%>
                    <%= link_to "rides/#{ride1.id}", {method: :get, class: "btn btn-warning", style: "float: right; height: 48px; padding: 12px;"} do %>
                        View Offer <% end %>
                <% else @time_diff_components[index] <= 4320 %>
                    <%= link_to "rides/#{ride1.id}", {method: :get, class: "btn btn-success", style: "float: right; height: 48px; padding: 12px;"} do %>
                        Join within 3 days <% end %>
                <% end %>
                </p>
               </div>
                  <br><br><br><hr size="2" style="height:1px;border:none;color:#333;background-color:#333;">
            <% end %>
          </div>
          <%= will_paginate @all %>
      </div>

        <div id="Yours_div" class="col-md-12">
          <div class="well  col-sm-12 border-radius:0px;border:none;">

            <%= @yours_rides%>



          </div>

        </div>

        <div id="Lastminute_div" class="col-md-12">
          <div class="well col-sm-12 border-radius:0px;border:none;">
            <% @lastminute_rides.each_with_index do |ride1, index| %>
                <div class="col-sm-1">
                  <% if ride1.relationships.first.is_driving == true %>
                      <img src= "<%= asset_path"DriverIconBig@2x.png" %>" style="width:30px;height: 30px;padding:8px;background-color: #0F3750"/>
                  <% elsif ride1.relationships.first.is_driving == false %>
                      <img src= "<%= asset_path"PassengerIconBig@2x.png" %>" style="width:30px;height: 30px;padding:8px;background-color: #0F3750"/>
                  <% end %>

                </div>
                <div class="col-sm-7">
                  <p> &nbsp; Ride offer to <%= ride1.departure_place %>
                  <p> &nbsp; <img src="<%= asset_path "CalendarIconBlack.png" %>" style="height: 12px;"> &nbsp; <%= ride1.departure_time.strftime("%d-%m-%Y")%> &nbsp; &nbsp; <img src="<%= asset_path "TimeIconBlack.png" %>" style="height: 12px;"> &nbsp; <%= ride1.departure_time.strftime("%I:%M %P")%> </p>
                </div>
                <div class="col-sm-4">
                  <% if @time_diff_components[index] <= 30 %>
                      <input type="button" id="30mins" style="height:46px;padding: 5px;" class="btn btn-danger" value="Join within 30 mins" onClick="window.location='/rides/<%= ride1.id %>' "/>
                  <% elsif @time_diff_components[index] <= 300 && @time_diff_components[index] >=30%>
                      <input type="button" id="2hours" style="height:46px;padding: 5px;"class="btn btn-warning" value="Join within 2 hours" onClick="window.location='/rides/<%= ride1.id %>' " />
                  <% end %>
                  </p>
                </div>
                <br><br><br><hr size="2" style="height:1px;border:none;color:#333;background-color:#333;">
            <% end %>

          </div>
          <%= will_paginate @lastminute_rides %>
        </div>




    </div><!-- /.blog-main -->

    <div class="col-xs-4 col-md-4">
      <div class="sidebar-module ">
        <%= render "shared/today_rides", today_rides: @today_rides  %>
        <div class="panel panel-primary" style="border: none;border-radius: 0px;">
          <div class="panel-heading" style="border: none;border-radius: 0px;background: #0F3750;color: #beddf1;text-align : center">
            <h3 class="panel-title " >Tomorrow</h3>
          </div>
          <div class="panel-body">
            <% @tomorrow_rides.each_with_index do |ride1, index| %>
                <div class="col-sm-2">
                  <img src="<%= asset_path "DriverIcon@2x.png" %>" style="height: 40px; margin-top:15px;">
                </div>
                <div class="col-sm-10">
                  <p> <%= ride1.departure_place %>
                  <p>  &nbsp; &nbsp; <img src="<%= asset_path "TimeIconBlack.png" %>" style="height: 10px;"> <%= ride1.departure_time.strftime("%I:%M %P")%> </p>
                </div>
                <br><br><br><hr size="2" style="height:1px;border:none;color:#333;background-color:#333;">
            <%end %>
          </div>
        </div>
        <div class="panel panel-primary"style="border: none;border-radius: 0px;">
          <div class="panel-heading" style="border: none;border-radius: 0px;background: #0F3750;color: #beddf1;text-align : center">
            <h3 class="panel-title">TUM News</h3>

          </div>
          <div class="panel-body">
            <% rss = SimpleRSS.parse(open('https://www.tum.de/nc/en/university-life/events/?type=100')).items %>
            <% rss.each_with_index  do |rss1,index| %>
                <% if index < 3 %>
                    <div onclick="location.href='<%= rss1.link %> ';" style="cursor: pointer;">
                      <p> <img src="<%= asset_path "InfoIconBlack.png" %>" style="height: 10px;"> <%= raw rss1.title %> </p>
                      <p> &nbsp; <img src="<%= asset_path "CalendarIconBlack.png" %>" style="height: 10px;"> &nbsp; <%= rss1.pubDate.strftime("%d-%m-%Y") %> </p>

                      <hr size="2" style="height:1px;border:none;color:#333;background-color:#333;">
                    </div>
                <% end %>
            <% end %>
          </div>
        </div>
      </div>

    </div><!-- /.blog-sidebar -->

     <div class="col-xs-1 col-md-1">
       </div>

  </div><!-- /.row -->
      </div>


</div><!-- /.container -->

  <script>
  $("#All").click(function(){
  $("#All_div").css("display", "block");
  $("#Yours_div").css("display", "none");
  $("#Lastminute_div").css("display","none");
  $("#All").css('background-color','#0F3750');
  $("#Yours").css('background-color','#2B2B2B').css('color','#F2F2F2');
  $("#Lastminute").css('background-color','#2B2B2B').css('color','#F2F2F2');
  })
  $("#Yours").click(function(){
  $("#All_div").css("display", "none");
  $("#Yours_div").css("display", "block");
  $("#Lastminute_div").css("display","none");
  $("#Yours").css('background-color','#0F3750');
      $("#All").css('background-color','#2B2B2B').css('color','#F2F2F2');
      $("#Lastminute").css('background-color','#2B2B2B').css('color','#F2F2F2');
  })
  $("#Lastminute").click(function(){
  $("#All_div").css("display","none");
  $("#Yours_div").css("display","none")
  $("#Lastminute_div").css("display","block");
  $("#Lastminute").css('background-color','#0F3750');
  $("#All").css('background-color','#2B2B2B').css('color','#F2F2F2');
      $("#Yours").css('background-color','#2B2B2B').css('color','#F2F2F2');
  });
          $(document).ready(function(){
              $("#All_div").css("display", "block");
              $("#Yours_div").css("display", "none");
              $("#Lastminute_div").css("display","none");


          });

  </script>

<style type="text/css">
  #all:link{color :#ffffff;}
        .well
        {
            background-color: #F2f2f2;
        }
  h4
  {
      margin-top : 3px;
      margin-bottom : 3px;

  }
        p{
            margin-top :1px;
            margin-left : 3px;
        }


</style>

