<header class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "tumitfahrer", root_path, id: "logo" %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Discover places", '#' %></li>
        <li><%= link_to "Find a ride", rides_path %></li>
        <li><%= link_to "Add a ride", '#' %></li>
        <li><%= link_to "Login", '#' %></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</header>