<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="TUMitfahrer">
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "jumbotron", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<<<<<<< HEAD
=======
  <!--just steal some css code from ng-newsletter.com, Lukas will re-design the css-->
  <!--<link rel="stylesheet" href="http://www.ng-newsletter.com/css/site.css?cb=12">-->
>>>>>>> b2b59b3f985142e3b9fb11ed48780811a44bffbc
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>

<%= render 'layouts/header' %>

<!--<div class="container">-->
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" style="margin-bottom: 0px;"><%= value %></div>
  <% end %>

  <%= yield %>
  <%= render 'layouts/footer' %>
  <%= debug(params) if Rails.env.development? %>
<<<<<<< HEAD

</div>
=======
<!--</div>-->
>>>>>>> b2b59b3f985142e3b9fb11ed48780811a44bffbc


</body>
</html>